<div class="post">
	<div class="data">
		<div class="data-top data-rolled">&nbsp;</div>
		<div class="data-content">
			<input id="data-form" type="hidden" style="display:none" value="{#{DOMAIN}#}/contato"></form>
			<div class="contact-label" style="width:52%;float:left;">Nome</div>
			<div class="contact-label" style="width:48%;float:left;">E-mail</div>
			<br clear="all" />
			<input type="text" class="contact-input" style="width:50%;margin-right:2%;float:left;" id="data-name">
			<input type="text" class="contact-input" style="width:48%;float:left;" id="data-email">
			<br clear="all" />
			<div class="contact-label" style="margin-top:20px;float:left;">Mensagem</div>
			<br clear="all" />
			<textarea class="contact-input" id="data-message" style="width:100%;resize:none;height:200px;float:left;"></textarea>
			<br clear="all" />
			<button id="contact-send">Enviar</button>
		</div>
		<div class="data-bottom data-rolled">&nbsp;</div>
	</div>
</div>

<footer>
	<div class="post">
		<div class="data">
			<div class="data-top data-rolled">&nbsp;</div>
			<div class="data-content">
				<div class="fb-page" data-href="https://www.facebook.com/tabernadacentopeiaperneta/" data-width="400px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/tabernadacentopeiaperneta/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tabernadacentopeiaperneta/">Taberna da Centopeia Perneta</a></blockquote></div>
				<br />
				<div id="site-name">Taberna da Centopeia Perneta &copy; {#{YEAR}#}<br />Todas as imagens de filmes, jogos e etc são marcas registradas dos seus respectivos proprietários</div>
			</div>
			<div class="data-bottom data-rolled">&nbsp;</div>
		</div>
	</div>
</footer>