<img src="{#{DOMAIN}#}/img/logo.png" id="logo">
<div id="menuAnchor">&nbsp;</div>
<div id="side-menu">
	<div class="wrapper">
		<div class="side left-side">&nbsp;</div>
		<div class="side right-side">&nbsp;</div>
	</div>
</div>
<nav>
	<div id="menu">
		<ul>
			<li><a class="{#{SELECTED_PODCAST}#}" href="{#{DOMAIN}#}/podcast">Podcast</a></li>
			<li><a class="{#{SELECTED_TEXT}#}" href="{#{DOMAIN}#}/textos">Textos</a></li>
			<li class="middle"><a href="{#{DOMAIN}#}" class="never-selected" style="display:block;width:100%;height:100%;">&nbsp;</a></li>
			<li><a class="{#{SELECTED_TEAM}#}" href="{#{DOMAIN}#}/equipe">Equipe</a></li>
			<li><a class="{#{SELECTED_CONTACT}#}" href="{#{DOMAIN}#}/contato">Contato</a></li>
		</ul>
		<br />
		<div id="loader">&nbsp;</div>
	</div>
</nav>