<div class="post">
	<div class="data">
		<div class="data-top data-rolled">&nbsp;</div>
		<div class="data-content">
			{#{CONTENT}#}
		</div>
		<div class="data-bottom data-rolled">&nbsp;</div>
	</div>
</div>


<footer>
	<div class="post">
		<div class="data">
			<div class="data-top data-rolled">&nbsp;</div>
			<div class="data-content">
				<div class="fb-page" data-href="https://www.facebook.com/tabernadacentopeiaperneta/" data-width="400px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/tabernadacentopeiaperneta/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tabernadacentopeiaperneta/">Taberna da Centopeia Perneta</a></blockquote></div>
				<br />
				<div id="site-name">Taberna da Centopeia Perneta &copy; {#{YEAR}#}<br />Todas as imagens de filmes, jogos e etc são marcas registradas dos seus respectivos proprietários</div>
			</div>
			<div class="data-bottom data-rolled">&nbsp;</div>
		</div>
	</div>
</footer>