<h1>Podcast</h1>
<p class="data-paragraph">
	Nada melhor que uma boa conversa de Taberna para arranjar confusão e iniciar aventura, não?<br />
	Entre rolagens de dados, sempre há espaço para boas histórias e conversas.<br />
	<br />
	Aqui, transformamos o mundo em RPG. Desde jogos, animes, filmes e livros até o dia-a-dia, viva como um amante da arte milenar do Role-Play Game.<br />
	<br />
	Puxe uma cadeira, faça seu pedido à nossa orc graçonete Orcarina e divirta-se!<br />
	<br />
</p>
<br />
<br />