<div class="post">
	<div class="data">
		<div class="data-top data-rolled">&nbsp;</div>
		<div class="data-content">
			<h1>Quem somos?</h1>
			<p class="data-paragraph">
				Somos loucos.<br />
				Apaixonados por RPG.<br />
				<br />
				A Taberna da Centopeia Perneta é O Podcast sobre RPG, mas não nos limitamos aos livros, regras e fichas...<br />
				Transformamos o mundo em RPG. Pegamos alguns gostos em comum (ou nem tanto), lançamos mão de algumas experiências e, com um punhado de maluquice, rolamos os dados.<br />
				Nossa quest é revitalizar este jogo (por que não "Arte Milenar"?) que vem perdendo espaço. Não temos a pretensão de levar o RPG a todas as pessoas do mundo, mas é quase isso.<br />
				<br />
				Curte RPG? Junte-se a essa quest!<br />
				Nunca jogou mas tem interesse? Reuna um pequeno grupo e começe hoje mesmo!<br />
				Não sabe o que é RPG? Prazer, Taberna da Centopeia Perneta ;)<br />
			</p>
			<br />
			<br />
			<div>
				<h2>Zanotta</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Zanotta.png" class="team-left">
				<p class="data-paragraph" class="team-right-text">
					Tudo começou em uma comum tarde de aula na idade média... digo, no ensino médio...<br />
					"Ah, você tem que jogar RPG!", disse o bardo.<br />
					"Tu tá maluco? Eu, jogando esse jogo de doido? Se eu quiser interpretar algo, eu vou pro teatro!", respondeu o futuro mago, ainda preso às correntes da ignorancia, fitando a parede, em sua humilde caverna mental...<br />
					<br />
					Meu primeiro contato com o RPG foi através desta negação.<br />
					Quando o nosso bardo Micah, em 2005, me apresentou este fabuloso jogo, minha reação inicial foi "Não quero". Ainda bem que mudei de ideia!<br />
					Desde lá, já joguei nos sistemas 3D&T, 4D&T, D20 e Storyteller. Mestrei algumas poucas vezes, mas nunca me considerei um bom mestre (fazer o quê...)<br />
					Acredito que o RPG não deve ser levado tão a risca, nem que deva ser algo sério. RPG é diversão! Para mim, uma boa campanha não é aquela em que a história se fecha, mas sim aquela em que realizamos feitos épicos, cômicos e inesperados!<br />
					<br />
					Meus cenários preferidos são Tormenta (Medieval/Fantasia) e Segunda Guerra Mundial, mas não dispenso Cyberpunk e Super-herois.<br />
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Rawlinston</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Raw.png" class="team-right">
				<p class="data-paragraph" class="team-left-text">
					O dia estava quente como de costume nessa pequena cidade do interior do rio de janeiro, estava fugindo de mais uma aula chata, era pelo lado das 10 da manha quando fui procurar um lugar para deitar. Quem já estudou em um colégio federal agrícola entende o que eu estou dizendo.<br />
					Foi ai que atrás da cantina estavam 4 aluno do segundo ano, rindo e rolando alguns dados, ate aquele momento eu vivia em um mundo cinza, foi ai que me aproximando percebi que as cores apareceram e o mundo era belo, depois de conversar e me explicarem começa o jogo, uma partida adaptada de D&D voltado par ao mundo de super-Heróis.<br />
					Foi depois disso que meu mundo mudou e foi ai que a insanidade me pegou e eu me tornei o que sou hoje!!!
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Micah</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Micah.png" class="team-left">
				<p class="data-paragraph" class="team-right-text">
					Meu primeiro contato com o rpg foi aos 15 anos, quando fui adotado como "mascote lançador de dados" por um grupo de rpg em minha escola (por algum motivo eles acreditavam q eu dava sorte para os jogadores), foi quando recebi o carinhoso apelido de "Tamagochi das Trevas". Obviamente assistindo as partidas comecei a me interessar pelo jogo e comecei a jogar, mas infelizmente o narrador e os membros do grupo todos se formaram poucos meses depois d'eu começar a jogar... Fiquei na vontade... Alguns meses depois resolvi criar um novo grupo de rpg... e comecei a narrar... infelizmente também logo me mudei de lá e nessa nova cidade encontrei o mago (Zanotta) e resolvi encomodar ele um pouquinho... xP<br />
					<br />
					Na minha concepção RPG é um grandiosa ferramenta de experiencia pessoal (nada melhor do q xp) e um ótimo meio de se divertir e extravasar um pouco das ideias malucas q a gnt sempre tem preso dentro da cabeça!<br />
					<br />
					Meus cenários favoritos são Tormenta e Anjo, a Salvação; mas para mim não existe nada melhor do que uma boa adaptação aleatória, principalmente de cenários futuristas (=X); tenho um bom conhecimento em 3D&T, mas já joguei 4D&T e Storyteller.<br />
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Sayuri</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Say.png" class="team-right">
				<p class="data-paragraph" class="team-left-text">
					*Magnus Exorcismos*("morram ciraturas das trevas" - fala interna)<br />
					- Mas então, você costuma jogar rpg? - pergunta o bardo (travestido em sacerdote) que me acompanha.<br />
					- Ahn... Sim? ("o que esse cara ta perguntando? Não estamos jogando rpg neste exato momento?) *Blessing*<br />
					- Ah, legal! Que sistema você e seus amigos costumam jogar?<br />
					- Sistema? (do que esse maluco ta falando?) *Angelus*<br />
					- Sim, em qual sistema vocês jogam? Ou jogam sem sistema?<br />
					- Talvez... sem sistema? (não to entendendo nada) *Magnificat*<br />
					- Legal! Agora uma pergunta mais facil. Como vocês costumam jogar?<br />
					- Como assim? (sério... do que esse maluco ta falando?) *Agi up*<br />
					- Vocês usam algum chat? programa?<br />
					- Ahn?! *Magnus Exorcismus*<br />
					- Ok... Acho que estamos confundindo algumas coisas aqui... Vamos pra Geffen... *Portal*<br />
					- Pera ae! Meu loot! *Telleport to Geffen*<br />
					[Explicação sobre rpg ser um jogo de atuação]<br />
					- Ah... Isso eu nunca joguei não... (na verdade parece ser bem chato, acho que eu nunca jogaria...)<br />
					- Então, estamos jogagando uma campanha de Resident Evil, você quer jogar?<br />
					- Pode ser... (o que eu to fazendo?!)<br />
					<br />
					Eis que surge o caos!<br />
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Daniel</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Dani.png" class="team-left">
				<p class="data-paragraph" class="team-right-text">
					Eis que surge o antigo paladino. Aquele que deixou de lado os afazeres da justiça em nome do conhecimento, o andarilho. Devotando sua vida aos estudos da natureza humana e do mundo, se fascina grandemente pela física e pela filosofia de onde quer que tenha andado.<br />
					<br />
					Mas em busca de conhecer novas coisas, perde-se dentro de sua mente, agindo como um fingidor. É sempre um homem diferente, com corpo e mente diferente, desde o paladino ao sacerdote negro, todos pode ser e todos ele quer ser, mesmo que só por um momento.<br />
					<br />
					Tudo isto devido a um bardo, que ao contar seus feitos mostrou-o o quão vaidosos eram, fazendo-o perceber o quão diferente de si mesmo havia se tornado. E esta é sua luta diária, buscar quem ele mesmo é, sendo o máximo possível. Independente de quais mundos visite e quais vidas ele viva, vive apenas para ser.<br />
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Bruna</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Bruna.png" class="team-right">
				<p class="data-paragraph" class="team-left-text">
					(Sem texto)
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>Paladino</h2>
				<img src="{#{DOMAIN}#}/img/content/team/Paladino.png" class="team-left">
				<p class="data-paragraph" class="team-right-text">
					(Sem texto)
				</p>
				<br clear="all"/>
			</div>
			<br />
			<br />
			<div>
				<h2>William</h2>
				<img src="{#{DOMAIN}#}/img/content/team/William.png" class="team-right">
				<p class="data-paragraph" class="team-left-text">
					(Sem texto)
				</p>
				<br clear="all"/>
			</div>
			<br clear="all"/>
		</div>
		<div class="data-bottom data-rolled">&nbsp;</div>
	</div>
</div>

<footer>
	<div class="post">
		<div class="data">
			<div class="data-top data-rolled">&nbsp;</div>
			<div class="data-content">
				<div class="fb-page" data-href="https://www.facebook.com/tabernadacentopeiaperneta/" data-width="400px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/tabernadacentopeiaperneta/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tabernadacentopeiaperneta/">Taberna da Centopeia Perneta</a></blockquote></div>
				<br />
				<div id="site-name">Taberna da Centopeia Perneta &copy; {#{YEAR}#}<br />Todas as imagens de filmes, jogos e etc são marcas registradas dos seus respectivos proprietários</div>
			</div>
			<div class="data-bottom data-rolled">&nbsp;</div>
		</div>
	</div>
</footer>